body {
    background-color: #333;
    display:block;
}
#myMain {
  display: flex;
  justify-content: space-between;
}
#card {
    background: #333;
    width: 220px;
    height: 160px;
    margin: 10px;
    justify-content: right;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#myTimer {
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    margin: auto;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#myBtn1 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 10px;
    background-color: #01b1fc;
}


#myBtn2 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 10px;
    padding-left:5px;
    background-color: #feb405;
  
}
#myBtn3 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 10px;
    padding-left:3px;
    background-color: #fe4612;
}
#myBtn4 {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 10px;
    padding-left:6px;
    background-color: #86c900; 
}
#myBtn1:hover {
    width: 55px;
    height: 55px;
}
#myBtn2:hover {
    width: 55px;
    height: 55px;
}
#myBtn3:hover {
    width: 55px;
    height: 55px;
}
#myBtn4:hover {
    width: 55px;
    height: 55px;
}

#myInpt {
    width: 220px;
    border-radius: 10px;
    border: 2px solid black;
    height: 45px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: black;
}
input::placeholder {
    font-size: 11px;
}

#myVal {
  font-family: sans-serif;
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
  width: 220px;
  height: 50px;
  background-color: #01efff;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
